# If you have to modify this file, it will trigger a build of quay.io/vincentrouvreau/quay_automated_build
# docker image used by .github/workflows/test_sample.yml
# Please consider making a separate PR for docker to be built, and your changes in the code

numpy
pytest